
h1 {
    text-align: center;
    font-size: 32px;
}

h3 {
    text-align: center;
    font-size: 24px;
}

#navbar {
    background-color: #879BE3;
}

#footer {
    background-color: #879BE3;
    position: relative;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 7%;
}