<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/general.css">
    <script src="./js/index.js"></script>
</head>

<body>
    <nav id="navbar" class="navbar navbar-light">
        <a class="navbar-brand">
            <h3 class="text-uppercase font-weight-bold">Frequency Filter Calculator</h3>
        </a>
    </nav>
    <br></br>
    <h1>
        Choose your Circuit
    </h1>
    <br></br>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="text-center">
                    <button class="btn btn-primary" type="submit" onclick="loadInputScreen('RC')">Circuit RC</button>
                    <p></p>
                    <img src="./img/RC.png" class="img-fluid" alt="Responsive image">
                    <br></br>
                    <button class="btn btn-primary" type="submit" onclick="loadInputScreen('RL')">Circuit RL</button>
                    <p></p>
                    <img src="./img/RL.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>
            <div class="col-sm">
                <div class="text-center">
                    <button class="btn btn-primary" type="submit" onclick="loadInputScreen('CR')">Circuit CR</button>
                    <p></p>
                    <img src="./img/CR.png" class="img-fluid" alt="Responsive image">
                    <br></br>
                    <button class="btn btn-primary" type="submit" onclick="loadInputScreen('LR')">Circuit LR</button>
                    <p></p>
                    <img src="./img/LR.png" class="img-fluid" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
    <br></br>
    <!-- Footer -->
    <footer id="footer" class="page-footer font-small">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a> ffc.com.lv</a>
        </div>
        <!-- Copyright -->
  
    </footer>
    <!-- Footer -->

</body>

</html>